body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.conteiner {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*================HEADER-LOGO=========================*/

.conteiner-header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.header-navi {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-navi-logo span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

/*===================HEDER-NAVI======================*/

.header-navi-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.header-navi-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  cursor: pointer;
}

.header-navi-link:hover,
.header-navi-link:focus {
  color: #404bbf;
}

/*====================HEADER-ADDRES==========================*/

.header-addr {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-address {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.header-address:hover,
.header-address:focus {
  color: #404bbf;
}

/*==========================HERO==========================*/

.main-hero {
  background: #2e2f42;
}

.main-hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  padding-top: 188px;
  margin-bottom: 48px;
  width: 496px;
}

.main-hero-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  margin-bottom: 188px;
  margin-left: 450px;
  padding: 16px 32px;
  border-radius: 4px;
}

.main-hero-btn:hover,
.main-hero-btn:focus {
  background: #404bbf;
}

/*=======================ADVANTAGES=================================*/

.main-advantages-list {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-advantages-title {
  color: #2e2f42;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-advantages-strategy {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.main-advantages-strategy-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*=====================TEAM===============================*/

.main-team {
  background: #f4f4fd;
}

.conteiner .team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-team-list {
  background-color: #ffffff;
}

.team-list-li {
  background-color: #ffffff;
}

.main-team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-title-team {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.main-team-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.main-team-img {
  margin-bottom: 32px;
}

/*===================PORTFOLIO===========================*/

.conteiner-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-jpg-b {
  margin-bottom: 32px;
}

.portfolio-title-main {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

/*=================FOOTER============================*/

.footer {
  background: #2e2f42;
}

.conteiner-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-logo .footer-span {
  margin-bottom: 40px;
}

.footer-text {
  width: 100%;
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
